body{
  background-color: #b5b1b1;
  font-family: 'Julius Sans One', sans-serif;
}

table {
  border-collapse: collapse;
}

.pedalTable th {
  text-align: center;
  padding: 20px 20px;
  font-size: 36px;
  background-color: #b5b1b1;
}

td {
  width: 200px;
  height: 290px;
  text-align: center;
  padding-left: 20px;
  background-color: #b5b1b1
}

.bio {
  color: #787878;
  background-color: #d3edf8;
  font-size: 24pt;
  text-align: center;
  padding: 0px 30px;
  width: 44%;
  height: 290px;
  border: 1px solid grey;
}

img {
  vertical-align: middle;
  border-bottom: 1px solid grey;
  border-spacing: 0px;
  height: 300px;
  width: 200px;
}

h1 {
  text-align: center;
}
